body{
	background-color: rgb(143, 163, 181);
	background-size: cover;
	min-height: 100%;
	background-attachment:fixed;
	background-position:center;
	background-repeat: no-repeat;
	overflow-x:hidden;
	font-family: 'Rubik', sans-serif;
	scroll-behavior: smooth;
}

h2{
	margin-block-start: 0em;
	margin-block-end: 0em;
}

.container{
	width: 100vw;
	// height: 200vh;
	position: relative;
	top :0;
	display : block;
}

.center {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.hero_text{
	position : relative;
	padding-top: 10vh;
}

.hero_text h1 {
	text-transform: uppercase;
	font-size:10em;
	font-style:normal;
	line-height:1em;
	letter-spacing: 0.05em;
	font-weight :700;
	font-family: 'Bodoni Moda', serif;
	text-align: center;
	margin-block-start: 0em;
	margin-block-end: 0em;
}

.hero_text h2 {
	font-size:8em;
	font-style:normal;
	line-height:1em;
	margin-bottom:25px;
	letter-spacing: 0.05em;
	font-weight :700;
	font-family: 'Bodoni Moda', serif;
	text-align: center;
}

.grid_container {
	display : block;
	width: 100%;
	height: 100%;
}

.main_grid{
	display: grid;
	grid-gap: 10px;
	width: 100%;
	grid-template-rows: repeat(1, 100%);
	grid-template-areas: initial;
	grid-auto-flow: column;
	grid-auto-columns: initial;
	grid-auto-rows: initial;
}

.equipe_1{
	padding-top: 2em;
	height: 100%;
	text-align: center;
}

.equipe_2{
	padding-top: 2em;
	grid-column: 2;
	text-align: center;
	height: 100%;
}

.equipe_1 h2, .equipe_2 h2{
	font-size:3em;
	font-style:normal;
	line-height:1em;
	margin-bottom:25px;
	letter-spacing: 0.05em;
	font-weight :700;
	font-family: 'Bodoni Moda', serif;
	text-align: center;
	color: #FFF;
}

.team {
	font-size:5em;
	font-style:normal;
	line-height:1em;
	margin-bottom:25px;
	letter-spacing: 0.05em;
	font-weight :700;
	font-family: 'Bodoni Moda', serif;
	text-align: center;
	color: #FFF;

	&__shuffle{
		width: 100%;
		color: rgb(0, 0, 0);
	}
}

.header {
	padding-top : 1em;
}
