/* MAIN
--------------------------------------------------------- */
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {

  --color-text1: #deedcf;
  --color-text2: #ffcbcc;
  --color-text3: #b9e6e3;
  --color-text4: #e1d0a1;
  --color-text5: #ccd3f6;
  --color-bg1: #3f4849;
  --color-bg2: #493f46;
  --color-bg3: #2b3242;
  --color-bg4: #3b3232;
  --color-bg5: #2d3a40;
  --color-text: var(--color-text1);
  --color-bg: var(--color-bg1);
  --color-link: #FFF;
  --color-link-hover: #fff;

  font-size: 62.5%;
}

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  cursor: none;
  --cursor-fill : transparent;
  --cursor-stroke : #1C0D80;
  --cursor-stroke-width :2px;
  background-color: var(--color-bg);
  transition: background-color .5s;
}


a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
  transition: color .3s;
}


strong {
  font-weight: bold;
}

p{
  line-height:1.75
}


.text-primary{
  color:#fed136!important
}

h1,h2,h3,h4,h5,h6{
  font-weight:700;
  font-family:Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
}

.space{
  margin-top : 100px;
}

::-moz-selection{
  background:#fed136;
  text-shadow:none
}
::selection{
  background:#fed136;
  text-shadow:none
}
img::-moz-selection{
  background:0 0
}
img::selection{
  background:0 0
}
img::-moz-selection{
  background:0 0
}
.btn{
  font-family:Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  font-weight:700
}
.btn-xl{
  font-size:18px;
  padding:20px 40px
}
.btn-primary{
  background-color:#fed136;
  border-color:#fed136
}
.btn-primary:active,.btn-primary:focus,.btn-primary:hover{
  background-color:#fec810!important;
  border-color:#fec810!important;
  color:#fff
}
.btn-primary:active,.btn-primary:focus{
  -webkit-box-shadow:0 0 0 .2rem rgba(254,209,55,.5)!important;
  box-shadow:0 0 0 .2rem rgba(254,209,55,.5)!important
}



/* VIDEO
--------------------------------------------------------- */

#scene {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100vh;

  pointer-events: none;
}

.scroll-content {
  display: block;
  width: 100%;
  height: 100%;
  padding: 9rem 5vw 5rem;

  color: #fff;

  @include maxw($bp-mobile) {
    padding-top: 0;
  }
}

.scrollarea {
  height: 100%;
}

.scrollarea-ctn {
  position: relative;
  z-index: 5;
}

.page-title {
  position: fixed;
  top: 9rem;
  left: 5vw;
  z-index: -1;

  white-space: nowrap;
  font-size: calc(4vw + 8rem);
  line-height: .975;
  color: var(--textColor);

  opacity: .1;
}

.line-ctn {
  display: block;
  overflow: hidden;
}

.btn-inline {
  display: inline-block;

  line-height: 1.5;

  border-bottom: .1rem solid;
}

.transition-wipe{
  // display: none;
  width: 100vw;
  height: 200vh;
  // background-color: rgba(15,10,50,90);
  background-color: #E0B300;

  // background-color: rgba(0,0,0,90);
  position: absolute;
  bottom: 100%;
  z-index: 20;
}

.white{
  background-color: #FFFAEE !important;
}

.blue{
  background-color: #8FA3B5 !important;
}

/*! locomotive-scroll v3.5.4 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100vh;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
