.video_body{
	background-color: #FFFAEE;
	background-size: cover;
	min-height: 100%;
	background-attachment:fixed;
	background-position:center;
	background-repeat: no-repeat;
	overflow-x:hidden;
	font-family: 'Rubik', sans-serif;
	scroll-behavior: smooth;
	cursor: none;
}

.slideshow_background {
		background-color: #FFFAEE;
		width: 100%;
		height : 100%;
		z-index: -100;
		position: absolute;
}
